.profile-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #545147;
  margin-bottom: 36px;
}

.profile-sub-title-box {
  margin: auto;
}

.profile-sub-title {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #545147;
  margin-bottom: 22px;
}
.profile-sub-des-box {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
}
.profile-sub-des {
  font-size: 13px;
  text-align: center;
  color: #545147;
  margin: 0 25px;
}

.profile-footer-btn-box {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.profile-footer-btn {
  width: 94px;
  height: 30px;
  margin-left: 8px;
  color: #545147;
  font-size: 13px;
  text-align: center;
  border-radius: 20px;
}

.profile-main-box {
  width: 290px;
  margin: auto;
  margin-bottom: 43px;
  margin-top: 38px;
}
.profile-box-level {
  display: flex;
  margin-bottom: 23px;
}

.profile-box-level-text {
  margin-right: 23px;
}
.profile-box-level-des {
  display: flex;
  width: 210px;
  align-items: flex-start;
  overflow-x: scroll;
  white-space: nowrap;
  height: 35px;
}

.profile-box-level-des::-webkit-scrollbar {
  height: 4px;
}
.profile-box-level-des::-webkit-scrollbar-track {
  background-color: white;
}
.profile-box-level-des::-webkit-scrollbar-thumb {
  box-shadow: inset 106px 106px 110px 116px #c4c4c4;
}

.profile-box-level-des .profile-box-level-detail {
  font-size: 12px;
  text-align: center;
  color: #9a9a9a;
  padding: 4px 10px;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  margin-right: 7px;
}
